.app-mine-nav{
    height:152px;
    background:#fff;
   margin-top:10px;
   .app-aboutme{
       ul{
          li{
               height:50px;
               margin-left:10px;
               font-size:16px;
               color:#333333;
               @include flexbox();
               align-items:center;
               justify-content:space-between;
               p{
                   @include flexbox();
                   span{
                       margin-right:10px;
                   }
               }
               i{
                   margin-right:10px;
               }
           }
           li:nth-child(1){
               border-bottom:1px solid #e5e5e5;
               span{
                   display: block;
                   width:20px;
                   height:20px;
                   background:url(/static/img/mine/mine_01.png) no-repeat -36px 4px; 
                   background-size:60px 205px;
               }
           } 
            li:nth-child(2){
               border-bottom:1px solid #e5e5e5;
               span{
                   display: block;
                   width:20px;
                   height:20px;
                   background:url(/static/img/mine/mine_01.png) no-repeat -36px -41px; 
                   background-size:60px 205px;
               }
           }
           li:nth-child(3){
               span{
                   display: block;
                   width:20px;
                   height:20px;
                   background:url(/static/img/mine/mine_01.png) no-repeat -36px -84px; 
                   background-size:60px 205px;
               }
           }
       }
       
   }
   .app-others{
        background:#fff;
        margin-top:10px;
        height:101px;
        ul{
          li{
               height:50px;
               margin-left:10px;
               font-size:16px;
               color:#333333;
               @include flexbox();
               align-items:center;
               justify-content:space-between;
               p{
                   @include flexbox();
                   span{
                       margin-right:10px;
                   }
               }
               i{
                   margin-right:10px;
               }
           }
           li:nth-child(1){
               border-bottom:1px solid #e5e5e5;
               span{
                   display: block;
                   width:20px;
                   height:20px;
                   background:url(/static/img/mine/mine_01.png) no-repeat -38px -122px; 
                   background-size:60px 205px;
               }
           } 
            li:nth-child(2){
               span{
                   display: block;
                   width:20px;
                   height:20px;
                   background:url(/static/img/mine/mine_01.png) no-repeat -36px -168px; 
                   background-size:60px 205px;
               }
           }
        }
   }
}
