.app-mine-login{
    height:190px;
    background:#fff;
    
    .app-mine-login-img{
        display:flex;
        height:90px;
        border-bottom:1px solid #E5E5E5;
        .userimg{
            width:53px;
            height:53px;
            border:1px solid #e5e5e5;
            border-radius:50%;
            margin:20px 10px;
            
            img{
                width:100%;
                height:100%;
                border:1px solid #FFF;
                border-radius:50%;
            }
        }
        .login{
            margin-top:40px;
            span{
                font-size:16px;
                color:#333333;
                
            }
        }
        .loginInfo{
            position:fixed;
            width:100px;
            top:104px;
            left:73px;
            background:#fff;
        }
    }
   
    .app-mine-login-nav{
            background:#fff;
            height:100px;
            margin-bottom: 10px;
            ul{
              li{
                   height:50px;
                   margin-left:10px;
                   font-size:16px;
                   color:#333333;
                   @include flexbox();
                   align-items:center;
                   justify-content:space-between;
                   p{
                       @include flexbox();
                       span{
                           margin-right:10px;
                       }
                   }
                    i{
                        margin-right:10px;
                    }
               }
               li:nth-child(1){
                   border-bottom:1px solid #e5e5e5;
                   span{
                       display: block;
                       width:20px;
                       height:20px;
                       background:url(/static/img/mine/mine_01.png) no-repeat 4px 2px; 
                       background-size:60px 205px;
                   }
               } 
                li:nth-child(2){
                   span{
                       display: block;
                       width:20px;
                       height:20px;
                       background:url(/static/img/mine/mine_01.png) no-repeat 0px -42px; 
                       background-size:60px 205px;
                   }
               }
            }
       }
 
}
