
.app-banner{
    width: 100%;
    height: 1.83rem;
    background: #fff;
    .banner{
        width: 100%;
        height: 1.83rem;
        .banner-item{
            img{
                width: 100%;
            }
        }
    }
}