.app-footer{
    background:#eee;
    width: 100%;
    height: 0.5rem;
    @include flexbox();
    @include justify-content(space-around);
    @include border(1px 0 0 0, #666, solid);
    position: fixed;
    bottom: 0;
    left: 0;
    dl{
        width: 20%;
        @include flexbox();
        @include justify-content(space-around);
        @include flex-direction(column);
        @include align-items(center);
        dt{
            width:0.25rem;
            height:0.25rem;
        }
        dd{
            font-size: 0.12rem;
            
        }
    }
    dl:nth-child(1){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat 3px 2px;
            background-size:63px 157px;
        }
    }
    dl:nth-child(2){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat 3px -28px;
            background-size:63px 157px;
        }
    }
    dl:nth-child(3){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat 5px -66px;
            background-size:63px 157px;
        }
    }
     dl:nth-child(4){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat 4px -99px;
            background-size:63px 157px;
        }
    }
    dl:nth-child(5){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat 2px -131px;
            background-size:63px 157px;
        }
    }
    .router-link-exact-active{
        color:#FD6C23;
    }
    .router-link-exact-active:nth-child(1){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat -28px 2px;
            background-size:63px 157px;
        }
    }
    .router-link-exact-active:nth-child(2){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat -31px -27px;
            background-size:63px 157px;
        }
    }
    .router-link-exact-active:nth-child(3){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat -28px -65px;
            background-size:63px 157px;
        }
    }
     .router-link-exact-active:nth-child(4){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat -32px -98px;
            background-size:63px 157px;
        }
    }
    .router-link-exact-active:nth-child(5){
        dt{
            background:url(/static/img/index/index_01.png) no-repeat -32px -130px;
            background-size:63px 157px;
        }
    }
}

